/*
html5doctor.com Reset Stylesheet
v1.4.1
2010-03-01
Author: Richard Clark - http://richclarkdesign.com
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

:focus {
  outline: 1; }

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

* {
  -moz-box-sizing: border-box;
       box-sizing: border-box; }

html {
  font-size: 10px;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif; }

html,
body {
  width: 100%;
  height: 100%; }

body {
  padding-top: 80px;
  background-color: #faf8ef; }

#game {
  margin: 0 auto;
  width: 500px; }
  #game .head {
    width: 100%;
    height: 120px;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #game .head .logo {
      font-size: 8rem;
      font-weight: bold;
      color: #776e65;
      line-height: 110px; }
    #game .head .score .current,
    #game .head .score .best {
      display: inline-block;
      position: relative;
      background-color: #bbada0;
      padding: 30px 25px 5px 25px;
      text-align: center;
      border-radius: 4px; }
    #game .head .score .current::before,
    #game .head .score .best::before {
      display: block;
      width: 100%;
      position: absolute;
      top: 10px;
      left: 0;
      text-align: center;
      margin-bottom: 5px;
      font-size: 1.2rem;
      color: #eee4da; }
    #game .head .score .current::before {
      content: 'SCORE'; }
    #game .head .score .best::before {
      content: 'BEST'; }
    #game .head .score .current {
      margin-right: 5px; }
    #game .head .score .number {
      font-size: 2.5rem;
      color: #fff; }
  #game .info {
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 40px;
    font-size: 1.8rem; }
    #game .info .intro {
      line-height: 40px;
      color: #776e65; }
    #game .info .restart {
      padding: 0 15px;
      background-color: #8f7a66;
      border-radius: 3px;
      line-height: 40px;
      font-weight: bold;
      color: #fff;
      cursor: pointer;
      text-align: center; }
  #game .board {
    position: relative;
    margin-top: 40px;
    padding: 20px;
    width: 500px;
    height: 500px;
    background-color: #bbada0;
    border-radius: 5px;
    overflow: hidden; }
    #game .board .msg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(200, 200, 200, 0.6);
      z-index: 20;
      text-align: center;
      -webkit-transform: translateY(100%);
          -ms-transform: translateY(100%);
              transform: translateY(100%);
      transition: all .5s; }
      #game .board .msg h2 {
        margin-top: 35%;
        font-size: 60px;
        color: #8f7a66; }
      #game .board .msg .restart {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        background-color: #8f7a66;
        border-radius: 3px;
        padding: 0 30px;
        line-height: 40px;
        font-weight: bold;
        font-size: 20px;
        color: #fff;
        cursor: pointer; }
    #game .board .msg_show {
      -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
              transform: translateY(0); }
    #game .board .grid {
      width: 100%;
      height: 100%;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
         -moz-box-orient: vertical;
         -moz-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-justify-content: space-between;
         -moz-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      #game .board .grid .row {
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-between;
           -moz-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        #game .board .grid .row .cell {
          width: 100px;
          height: 100px;
          background-color: rgba(238, 228, 218, 0.35);
          border-radius: 5px; }
    #game .board .cardsBoard {
      position: absolute;
      left: 20px;
      top: 20px;
      width: 460px;
      height: 460px; }
      #game .board .cardsBoard .card {
        position: absolute;
        width: 106px;
        height: 106px;
        border-radius: 5px;
        font-weight: bold;
        text-align: center;
        line-height: 106px;
        transition: all .1s;
        z-index: 10; }
      #game .board .cardsBoard .card-row-1 {
        top: -3px; }
      #game .board .cardsBoard .card-row-2 {
        top: 117px; }
      #game .board .cardsBoard .card-row-3 {
        top: 237px; }
      #game .board .cardsBoard .card-row-4 {
        top: 357px; }
      #game .board .cardsBoard .card-col-1 {
        left: -3px; }
      #game .board .cardsBoard .card-col-2 {
        left: 117px; }
      #game .board .cardsBoard .card-col-3 {
        left: 237px; }
      #game .board .cardsBoard .card-col-4 {
        left: 357px; }
      #game .board .cardsBoard .card-num-2,
      #game .board .cardsBoard .card-num-4,
      #game .board .cardsBoard .card-num-8,
      #game .board .cardsBoard .card-num-16,
      #game .board .cardsBoard .card-num-32,
      #game .board .cardsBoard .card-num-64 {
        font-size: 5.5rem; }
      #game .board .cardsBoard .card-num-128,
      #game .board .cardsBoard .card-num-256,
      #game .board .cardsBoard .card-num-512 {
        font-size: 4.5rem; }
      #game .board .cardsBoard .card-num-1024,
      #game .board .cardsBoard .card-num-2048 {
        font-size: 3.5rem; }
      #game .board .cardsBoard .card-num-2,
      #game .board .cardsBoard .card-num-4 {
        color: #776e65; }
      #game .board .cardsBoard .card-num-8,
      #game .board .cardsBoard .card-num-16,
      #game .board .cardsBoard .card-num-32,
      #game .board .cardsBoard .card-num-64,
      #game .board .cardsBoard .card-num-128,
      #game .board .cardsBoard .card-num-256,
      #game .board .cardsBoard .card-num-512,
      #game .board .cardsBoard .card-num-1024,
      #game .board .cardsBoard .card-num-2048 {
        color: #f9f6f2; }
      #game .board .cardsBoard .card-num-2 {
        background-color: #eee4da; }
      #game .board .cardsBoard .card-num-4 {
        background-color: #ede0c8; }
      #game .board .cardsBoard .card-num-8 {
        background-color: #f2b179; }
      #game .board .cardsBoard .card-num-16 {
        background-color: #f59563; }
      #game .board .cardsBoard .card-num-32 {
        background-color: #f67c5f; }
      #game .board .cardsBoard .card-num-64 {
        background-color: #f65e3b; }
      #game .board .cardsBoard .card-num-128 {
        background-color: #edcf72;
        box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.2381), inset 0 0 0 1px rgba(255, 255, 255, 0.14286); }
      #game .board .cardsBoard .card-num-256 {
        background-color: #edcc61;
        box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746), inset 0 0 0 1px rgba(255, 255, 255, 0.19048); }
      #game .board .cardsBoard .card-num-512 {
        background-color: #edc850;
        box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.39683), inset 0 0 0 1px rgba(255, 255, 255, 0.2381); }
      #game .board .cardsBoard .card-num-1024 {
        background-color: #edc53f;
        box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.47619), inset 0 0 0 1px rgba(255, 255, 255, 0.28571); }
      #game .board .cardsBoard .card-num-2048 {
        background-color: #edc22e;
        box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333); }
      #game .board .cardsBoard .card-merged {
        z-index: 0; }
      #game .board .cardsBoard .card-new {
        -webkit-animation: newCard .2s;
                animation: newCard .2s; }
  #game .describe {
    margin-top: 50px;
    font-size: 1.8rem;
    color: #776e65;
    line-height: 30px; }

@media screen and (max-width: 520px) {
  body {
    padding-top: 20px; }
  #game {
    width: 280px; }
    #game .head {
      height: 65px; }
      #game .head .logo {
        font-size: 2.8rem;
        line-height: 65px; }
      #game .head .score .current,
      #game .head .score .best {
        min-width: 55px;
        padding: 25px 10px 2px 10px; }
      #game .head .score .number {
        font-size: 2.2rem; }
    #game .info .intro {
      font-size: 1.3rem;
      line-height: 2rem; }
    #game .info .restart {
      font-size: 1.4rem;
      width: 140px; }
    #game .board {
      margin-top: 20px;
      width: 280px;
      height: 280px;
      padding: 10px; }
      #game .board .grid .row .cell {
        width: 57.5px;
        height: 57.5px;
        border-radius: 3px; }
      #game .board .cardsBoard {
        left: 10px;
        top: 10px;
        width: 260px;
        height: 260px; }
        #game .board .cardsBoard .card {
          width: 57.5px;
          height: 57.5px;
          line-height: 57.5px;
          border-radius: 3px; }
        #game .board .cardsBoard .card-row-1 {
          top: 0px; }
        #game .board .cardsBoard .card-row-2 {
          top: 67.5px; }
        #game .board .cardsBoard .card-row-3 {
          top: 135px; }
        #game .board .cardsBoard .card-row-4 {
          top: 202.5px; }
        #game .board .cardsBoard .card-col-1 {
          left: 0; }
        #game .board .cardsBoard .card-col-2 {
          left: 67.5px; }
        #game .board .cardsBoard .card-col-3 {
          left: 135px; }
        #game .board .cardsBoard .card-col-4 {
          left: 202.5px; }
        #game .board .cardsBoard .card-num-2,
        #game .board .cardsBoard .card-num-4,
        #game .board .cardsBoard .card-num-8 {
          font-size: 3.5rem; }
        #game .board .cardsBoard .card-num-16,
        #game .board .cardsBoard .card-num-32,
        #game .board .cardsBoard .card-num-64 {
          font-size: 3rem; }
        #game .board .cardsBoard .card-num-128,
        #game .board .cardsBoard .card-num-256,
        #game .board .cardsBoard .card-num-512 {
          font-size: 2.5rem; }
        #game .board .cardsBoard .card-num-1024,
        #game .board .cardsBoard .card-num-2048 {
          font-size: 1.5rem; }
    #game .describe {
      margin-top: 40px;
      font-size: 1.4rem;
      line-height: 25px; } }

@-webkit-keyframes newCard {
  0% {
    -webkit-transform: scale(0.4, 0.4);
            transform: scale(0.4, 0.4); }
  50% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1); }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); } }

@keyframes newCard {
  0% {
    -webkit-transform: scale(0.4, 0.4);
            transform: scale(0.4, 0.4); }
  50% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1); }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); } }

/*# sourceMappingURL=index.css.map*/